.swiper-pagination {
    bottom: 0;
    left: 0;
    right: 0;
}

.swiper-pagination-bullet {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #070928;
    opacity: 0.7;
}
.swiper-pagination-bullet-active {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #1045ff;
    opacity: 1;
}
