@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@layer base{
    @font-face {
        font-family: "Gilroy";
        src: url(./assets/fonts/Gilroy-Regular.ttf) format("ttf");
        font-weight: 400;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    @apply font-gilroy;
}
p,
span,
li,
a,
label,
input {
    @apply font-noto;
}

h1 {
    @apply text-4xl font-bold;
}
h2 {
    @apply text-3xl font-bold;
}
h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-xl font-bold;
}

h5 {
    @apply text-lg font-bold;
}
